@import "tailwindcss";

:root {
  --background: rgb(220, 220, 220);
  --foreground: #000000;

  --note-bg: white;
  --note-bg-hover: rgb(202, 202, 202);
  --note-content-bg: rgb(232, 232, 232);

  --shadow: rgba(0, 0, 0, 0.316);
}

* {
  /* border: 1px solid red; */
}

body {
  background: var(--background);
  color: var(--foreground);
  font-size: 20px;
}
